@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

html {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(231, 42, 231, 0.222);
}

::-webkit-scrollbar-thumb {
  background: rgb(131, 27, 131);
  border-radius: 1rem;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}
